<% include ../templates/header.ejs %>

<link type="text/css" rel="stylesheet" href="/css/login.css">

<div class="wrapper">
    <div class="nav-wrapper">
        <% include ../templates/nav.ejs %>
    </div>
    <div class="content-wrapper">
        <% include ../templates/message.ejs %>
        <div class="login-wrapper">
            <div class="form">
                <form class="ui form" action="/login" method="POST">
                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="john.doe@gmail.com" required>
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="field">
                        <button class="ui button" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../templates/footer.ejs %>