<% include ./templates/header.ejs %>

<div class="wrapper">
    <div class="nav-wrapper">
        <% include ./templates/nav.ejs %>
    </div>
    <div class="content-wrapper">
        <% include ./templates/message.ejs %>
        <div style="width: 100%;">
            This is the Home page of <b>www.findAllYourProducts.com</b>
        </div>
    </div>
</div>

<% include ./templates/footer.ejs %>