<% include ../templates/header.ejs %>
<link type="text/css" rel="stylesheet" href="/css/products.css">

<div class="wrapper">
    <div class="nav-wrapper">
        <% include ../templates/nav.ejs %>
    </div>
    <div class="content-wrapper">
        <% include ../templates/message.ejs %>
        <div class="form">
            <form action="/product" method="POST" class="ui form" enctype="multipart/form-data">
                <div class="field">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" placeholder="e.g Beats" required>
                </div>
                <div class="field">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" min="0" required>
                </div>
                <div class="field">
                    <label for="image">Image File:</label>
                    <input type="file" id="image" name="image">
                </div>

                <div class="field">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" placeholder="e.g Awesome music exprerience." required></textarea>
                </div>
                <div class="field">
                    <% include ../templates/csrf.ejs %>
                    <button type="submit" class="ui button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../templates/footer.ejs %>